#paper{
    border:solid 1px #000000;    
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

section, footer, header{
	display: block;
}

#cursors{
	position:relative;
}

